[Unit]
Description=limebot

[Service]
Type=exec
Restart=always
ExecStartPre=pnpm install --frozen-lockfile
ExecStartPre=pnpm build
ExecStart=pnpm start
WorkingDirectory=%h/limebot

[Install]
WantedBy=default.target
